:root:not(.theme-dark) {
    --tv-color-platform-background: #000000;
    --tv-color-pane-background: rgb(0, 0, 0);
    --tv-color-toolbar-button-background-hover: rgb(0, 0, 0);
    --tv-color-toolbar-button-background-expanded: rgb(0, 0, 0);
    --tv-color-toolbar-button-background-active: rgb(0, 0, 0);
    --tv-color-toolbar-button-background-active-hover: rgb(0, 0, 0);
    --tv-color-toolbar-button-text: rgb(0, 0, 0);
    --tv-color-toolbar-button-text-hover: rgb(0, 0, 0);
    --tv-color-toolbar-button-text-active: rgb(0, 0, 0);
    --tv-color-toolbar-button-text-active-hover: rgb(0, 0, 0);
    --tv-color-item-active-text: rgb(0, 0, 0);
    --tv-color-toolbar-toggle-button-background-active: rgb(0, 0, 0);
    --tv-color-toolbar-toggle-button-background-active-hover: rgb(0, 0, 0);
    --tv-color-toolbar-divider-background: rgb(0, 0, 0);
    --tv-color-toolbar-save-layout-loader: rgb(0, 0, 0);
}

.theme-dark:root {
    --tv-color-platform-background: #000000;
    --tv-color-pane-background: rgb(0, 0, 0);
    --tv-color-toolbar-button-background-hover: rgb(255, 255, 255);
    --tv-color-toolbar-button-background-expanded: rgb(0, 0, 0);
    --tv-color-toolbar-button-background-active: rgb(136, 5, 5);
    --tv-color-toolbar-button-background-active-hover: rgb(255, 255, 255);
    --tv-color-toolbar-button-text: rgb(255, 255, 255);
    --tv-color-toolbar-button-text-hover: rgb(46, 112, 245);
    --tv-color-toolbar-button-text-active: red;
    --tv-color-toolbar-button-text-active-hover: red;
    --tv-color-item-active-text: rgb(0, 0, 0);
    --tv-color-toolbar-toggle-button-background-active: rgb(46, 112, 245);
    --tv-color-toolbar-toggle-button-background-active-hover: rgb(46, 112, 245);
    --tv-color-toolbar-divider-background: rgb(255, 255, 255);
    --tv-color-toolbar-save-layout-loader: rgb(0, 0, 0);
    --tv-color-popup-background:var(--tv-color-platform-background);
    --tv-color-chart-background:var(--tv-color-platform-background)
}